<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BStackDemo Suite">

    <test name="Login Tests">

        <classes>

            <class name="testcases.LoginTest"/>

        </classes>

    </test>

    <test name="Cart Tests">

        <classes>

            <class name="testcases.AddToCartTest"/>

        </classes>

    </test>

    <test name="Checkout Tests">

        <classes>

            <class name="testcases.CheckoutTest"/>

        </classes>

    </test>

</suite>